<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="loginUrl" value=" https://meridian.commonwealth.int/"/>
    <add key="browser" value="chrome"/>
    <add key="userName" value="autex01"/>
    <add key="password" value="Aut0mat10n"/>
  </appSettings>
</configuration>